export(DropNA)
export(FillIn)
export(FindReplace)
export(MoveFront)
export(NaVar)
export(PercChange)
export(SpreadDummy)
export(TimeFill)
export(VarDrop)
export(dMerge)
export(grepl.sub)
export(rmExcept)
export(shift)
export(slide)
export(slideMA)
import(data.table)
importFrom(forecast,ma)
importFrom(plyr,ddply)
importFrom(plyr,rename)
importFrom(plyr,summarize)
